@import '../../vendor/filament/forms/dist/module.esm.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');
@import './flickity.css';

/* .link {
    @apply text-primary-200;
} */

[x-cloak] { display: none !important; }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 6px solid #fff;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #7A6CFF;
    cursor: pointer;
    border-radius: 100%;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 6px solid #fff;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #7A6CFF;
    cursor: pointer;
    border-radius: 100%;
}
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    border: 6px solid #fff;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #7A6CFF;
    cursor: pointer;
    border-radius: 100%;
}